DEBUG=True
SECRET_KEY='django-insecure-!ubab^v^19w*n$u1k0((8ei@d4epi&d*ywx+jlefgrm$2ffnf7'
ALLOWED_HOSTS='158.160.26.157,127.0.0.1,localhost,foodgrams.didns.ru'
CSRF_TRUSTED_ORIGINS='https://foodgrams.didns.ru'
DB_ENGINE=django.db.backends.postgresql
DB_NAME=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
#DB_HOST=foodgram-db
DB_HOST=db
DB_PORT=5432
